@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Some Time Later';
  src: url('./fonts/some-time-later.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.header {
  padding: 20px 10px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 30px;
}

.header nav a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-section {
  min-height: 1080px;
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
}

.content {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.hero-title {
  position: relative;
  z-index: 1;
  font-family: 'Some Time Later', cursive;
  font-size: 320px;
  text-transform: uppercase;
  color: #FFF256;
  white-space: nowrap;
  letter-spacing: -0.02em;
}

.text-container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.welcome-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 0px;
  text-align: left;
  width: 60%;
  text-transform: uppercase;
  color: #ffeb00;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.collect-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
  max-width: 600px;
  text-align: left;
  width: 60%;
  line-height: 115%;
}

.join-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  line-height: 115%;
  margin: 0;
}

.cta-button {
  background-color: #ffe81f;
  color: #000;
  border: none;
  padding: 15px 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
  white-space: nowrap;
}

.cta-button:hover {
  transform: scale(1.05);
}

.text-description {
  margin-top: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.sponge-container {
  position: relative;
  z-index: 2;
  margin-bottom: -50px;
}

.sponge-image {
  min-height: 1080px; 
  min-width: 1920px; 

  display: block;
}
